* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('./assets/white-gold-geometric-pattern-background-vector_53876-140726.avif');
   background-repeat: no-repeat;
   background-position: fixed;
   background-size: cover;
}



.header {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  
}
nav{
  background-image: url('../src/assets/golden-lines-luxury-on-cream-600w-1966317955.webp');
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  top: 0;
  margin-bottom: ;
  box-shadow: 1px 8px 19px -5px rgba(209,198,103,1);
-webkit-box-shadow: 1px 8px 19px -5px rgba(209,198,103,1);
-moz-box-shadow: 1px 8px 19px -5px rgba(209,198,103,1);
}

.layout-nav .logo{
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
  align-items: center;
  margin: 0 10%;
 
  
}

.layout-nav .logo a:link, .layout-nav .logo a:visited {
  color: #4A211F;
  text-decoration: none;
  border-bottom: 1px solid #4A211F;
  padding: 5px 15px;
  font-family: 'Verdana' , 'Arial' , sans-serif;
}


.logo .search {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 20px;
  border-top: none;
  align-items: center;
  
}
nav h1 {
  text-decoration: left;

}

nav ul{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  list-style: none;
  margin: 20px auto;
  width: 80%;
  height:50% ;

}
nav li a{
  color: #4A211F;
  text-decoration: none;
  font-size: 32px;
}

.introduction {
  padding: 30px;
  width: 80%;
  margin-top: 250px;
  margin-right: auto;
  margin-left: auto;
}
.introduction h1{
  color:#4A211F;
  
}

.skills {
   display: grid;
   grid-template-columns: auto auto auto;
   color:#4A211F;
   width: 80%;
   margin: 10px auto;
   

}

.skills h3 {
  border-bottom: 1px solid #4A211F;
  padding: 6px;
}

ul {
  list-style: none;
  margin-right: 100px;

}

.skills li {
  margin-bottom: 1.2em;
}


.skills-diagram {
  margin: 20px;
  z-index: -1;
}

.skills-diagram h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.skills-diagram ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  
  
}

.skills-diagram li {
  width: 100px;
  height: 200px;
  border-radius: 5px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.skills-diagram li:before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 2px;
  background-color: #ccc;
}

.skills-diagram li:last-child:before {
  display: none;
}

.skills-diagram li.english {
  background-color: #333;
}

.skills-diagram li.persian {
  background-color: #9b59b6;
}

.skills-diagram li.turkish {
  background-color: #c0392b;
}


.skills-diagram li.spanish {
  background-color: #e67e22;
}


.skills-diagram .skill-name {
  color: #fff;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}


.summary {
   width: 80%;
   margin: 10px auto;
   color: #4A211F;
   
}
.footer {
  display: flex;
  align-items: center;
}
.home-footer {
 
  height: 300px;
  width: 80%;
  margin: 10px auto;
}
.home-footer li {
  line-height: 3em;
}
.home-footer li a {
  color: #4A211F;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
.home-footer li a:hover {
  font-size: larger;
}